VITE_GOOGLE_SHEETS_ID=1RgXASkWpEhLL2cL8CSJZ9Aj7tv8aH9x0r8DrLrXmKi0
GOOGLE_SHEETS_ID=1RgXASkWpEhLL2cL8CSJZ9Aj7tv8aH9x0r8DrLrXmKi0
APP_PASSWORD=defina_uma_senha_forte_na_vercel
AUTH_SECRET=gere_um_segredo_longo_e_aleatorio
